.description {
    @include cook-description-styles;
    padding: 100px 0;
    &__text {
        font-weight: 300;
        font-size: $about-font;
        max-width: 941px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1024px) {
    .description {
        padding: 80px 0;
        &__text {
            font-size: 1.375rem;
            max-width: 602px;
        }
    }
}

@media screen and (max-width: 768px) {
    .description {
        padding: 70px 0;
        &__text {
            font-size: 1.25rem;
            max-width: 541px;
        }
    }
}

@media screen and (max-width: 600px) {
    .description {
        padding: 60px 0;
        &__text {
            font-size: 1rem;
            max-width: 480px;
        }
    }
}